
.idea/dataSources/90dd0baa-b24f-4336-a771-1e8781567edd.xml
*.meta
.idea/dictionaries/Jón_Ingi.xml
.idea/workspace.xml
.idea/dataSources.local.xml
.idea/dataSources/1802e0db-b77b-4289-98bc-e5fac2691ff1.xml
.idea/dataSources/1802e0db-b77b-4289-98bc-e5fac2691ff1.xml
